<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devices-width, initial-scale=1.0">
    <title> Products </title>
</head>
<body>
<div> Products: 
{% for product in products %}
<ul>
    <li><a href="{{ product.get_absolute_url }}"><strong> product:</strong> {{product.title}} </a></li>
    <li><strong>Description: </strong>{{product.desc}}</li>
    <li><strong>Price:</strong> {{product.price}} <strong>SR</strong></li>
    <li><strong>Created at :</strong>{{ product.created_date}}</li>
</ul>
<hr style='width:90%;'>
{% empty %}
<li><div style="color:red;"><strong> Sorry no product found </strong></div></li>
{% endfor %}
</div>
</body>
</html>